name: Deploy

on:
  push:
    branches:
      - main
      - release/*
      - feature/*
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [qa, test, prod]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set environment variables using Python
        id: set-env-vars
        run: |
          python .github/scripts/set_env_vars.py ${{ matrix.environment }}
      
      - name: Display the variable
        if: |
           (github.event.name == 'push' && ${{ matrix.environment }} == 'qa')
        run: |
           echo $app_service_name
           echo $publish_profile


      # - name: Deploy to Azure App Service
      #   if: |
      #     (github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release/')) ||
      #     (github.event_name == 'pull_request' && github.base_ref == 'main')
      #   uses: azure/webapps-deploy@v2
      #   with:
      #     app-name: ${{ steps.set-env-vars.outputs.app_service_name }}
      #     publish-profile: ${{ steps.set-env-vars.outputs.publish_profile }}
      #     package: .


