name: Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - development

jobs:
  # build:
  #   runs-on: ubuntu-latest

  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v2

  #   - name: Set up Node.js
  #     uses: actions/setup-node@v2
  #     with:
  #       node-version: '14'

  #   - name: Install dependencies
  #     run: npm install

  #   - name: Build the project
  #     run: npm run build

  deploy:
    # needs: build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        environment: [TEST, PROD]
        # include:
        #   - environment: test
        #     if: ${{ github.event.pull_request.base.ref == 'development' }}
        #   - environment: prod
        #     if: ${{ github.event.pull_request.base.ref == 'main' }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set Environment Variables
      run: |
        echo "AZURE_WEBAPP_NAME=${{ env[format('AZURE_WEBAPP_NAME_{0}',matrix.environment)] }}" >> $GITHUB_ENV
        echo "AZURE_PUBLISH_PROFILE=${{ secrets[format('AZURE_PUBLISH_PROFILE_{0}', matrix.environment)] }}" >> $GITHUB_ENV

    - name: Deploy to ${{ matrix.environment }} Environment
      run: |
         echo "$AZURE_WEBAPP_NAME"
         echo "$AZURE_PUBLISH_PROFILE"
      # uses: azure/webapps-deploy@v2
      # with:
      #   app-name: ${{ env.AZURE_WEBAPP_NAME }}
      #   publish-profile: ${{ env.AZURE_PUBLISH_PROFILE }}
