name: StoryBook Deployment
 
on: 
  push:
    branches: 
      - main
      - dev
    paths-ignore: 
      - 'github/**'
  pull_request: 
     branches:
        - main
        - dev 
     paths-ignore:
        - '.github/**'

 
#env:
 
jobs:
    PR_check:
      name: check
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          run: |
              echo "PR check"
              
    build:
        runs-on: ubuntu-latest
        if: (github.event_name == 'push') && (github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/main')
        steps:
            # - uses: actions/checkout@v3
            # - name: Use Node.js 18
            #   uses: actions/setup-node@v3
            #   with:
            #     node-version: 18.8
            # - name: Dependency installation
            #   run: |
            #     npm install
            #     npm install -g @azure/static-web-apps-cli
           
            - name: Build the artifact
              run: echo "Building........."

            - name: Deploy to DEV Environment
              if: github.ref == 'refs/heads/dev'
              run: |
                # swa deploy ./storybook-static --deployment-token ${{ secrets.AZURE_STATIC_WEB_APP_TOKEN }}
                echo "Deploying ........."
                echo "DEV Environment"
           
            - name: Deploy to MAIN Environment
              if: github.ref == 'refs/heads/main'
              run: |
                # swa deploy ./storybook-static --deployment-token ${{ secrets.AZURE_STATIC_WEB_APP_TOKEN }}
                echo "Deploying ........."
                echo "MAIN Environment" 
 
            # - name: Upload Artifact
            #   uses: actions/upload-artifact@v4
            #   with:
            #     name: storybook-artifact
            #     path: storybook-static


    # post-merge: 
    #    if: github.event_name == 'push' && github.ref == 'refs/heads/main' 
    #    needs: build 
    #    runs-on: ubuntu-latest

    #    steps:
    #      - run: |
    #           echo "${{ github.ref }}
       
    # deploy:
 
    #   runs-on: ubuntu-latest
    #   if: (github.event.pull_request.merged == true) && (github.event.pull_request.base == 'refs/base/main')
    #   steps:
    #     - uses: actions/checkout@v3
    #     - name: Use Node.js 18
    #       uses: actions/setup-node@v3
    #       with:
    #         node-version: 18.8
    #     - name: Dependency installation
    #       run: |
    #         npm install
    #         npm install -g @azure/static-web-apps-cli
       
    #     - name: Build the artifact
    #       run: npm run build-storybook
       
    #     - name: Deploy to Production Environment
    #       run: |
    #         swa deploy ./storybook-static --deployment-token ${{ secrets.AZURE_STATIC_WEB_APP_TOKEN }} --env production
