name: PR Workflow

on:
  pull_request:
    types: [labeled, synchronize, closed]
    branches: [main]
    paths-ignore:
      - '.github/**'

jobs:
  job1:
    if: (github.event.action != 'closed') && (contains(github.event.pull_request.labels.*.name, 'storybook'))
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: log
        run: git log -10 --oneline

      - name: Run job for open and synchronize
        run: echo "Job 1 running for PR"

  job2:
    # needs: job1
    if: (contains(github.event.pull_request.labels.*.name, 'storybook')) && (github.event.pull_request.merged == true)
    runs-on: ubuntu-latest

    steps:
      - name: Wait for 2 minutes 
        run: sleep 120
      - name: Checkout code
        uses: actions/checkout@v3
      - name: log
        run: git log -10 --oneline

      - name: Run job for PR close
        run: |
          if [[ "${{ github.event.pull_request.merged }}" == "true" ]]; then
            echo "PR has been merged. Running job 2."
          else
            echo "PR was closed without merging."
          fi
